@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This page is under construction as of @ViewData["TimeStamp"]</p>
<p>
    Privacy, in short, is the right to be free from interference or intrusion — the ability to be left alone without being watched. Information privacy refers to the right to have control over how your personal information and data are collected, stored, and used. Privacy policies are in place to protect sensitive information and safeguard your identity. Privacy is often about using sensitive information responsibly. Organizations are required to be transparent about what forms of data they intend to collect, the purpose of the data collection, and where and with whom it is to be shared. As the user, you have to accept these terms and conditions; therefore, you have the right to control your shared information.
</p>
